<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

 
    <link rel="stylesheet" href="styles.css">
    <link rel="icon" href="images/logo.png">
    <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Anaheim:wght@400..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Scheherazade+New:wght@400;500;600;700&display=swap" rel="stylesheet">
    <title>SarahChat</title>
    <script type="module" src="app.js"></script>
    <script src="https://kit.fontawesome.com/6978fc69bd.js" crossorigin="anonymous"></script>
    <script type="module" src="app.js"></script>
</head>
<body>
    <div id="indhold">
        <img src="images/sarahbod.png" alt="SarahBot" class="sarahbot">
        <div id="formdiv">
            <section id="messages-containter">
                <article id="answer">
                    <p id="message"></p>
                </article>
            </section>
            <div>
                <form id="chatForm">    
                    <label for="question">Hvad skal vi snakke om?</label>
                    <input id="question" name="question" type="text" /><br>
                      <button type="submit">Send</button>      
                </form>  
                <form method="POST" action="/clear-messages" id="btnForm">
                  
                    <button type="button" id="clear-messages-button">Ryd beskeder</button>
                </form>
            </div>
            <div class="char-counter">
                <div id="char-count">0</div>
            </div>     
        </div> 
    </div>

    <div id="tæller">
        <h2>Spørgsmål fordelt på emner</h2>
        <ul>
            <li>Navn: <%= topicStats.navn %></li>
            <div class="streg"></div>
            <li>Bor: <%= topicStats.bor %></li>
            <div class="streg"></div>
            <li>Fritid: <%= topicStats.fritid %></li>
            <div class="streg"></div>
            <li>Alder: <%= topicStats.alder %></li>
        </ul>
    </div>

</body>
</html>